.estilo-tabla{
    border: 1px solid #000; 
    width: 100%;
}

.contenedor-imagen{
    width: 600px;
    height: 400px;
    border: 1px solid #ccc;
    text-align: center;
}

.contenedor-imagen img {
    max-width:  100%;
    max-height: 100%;
}